<!DOCTYPE html>
<!-- Source: https://github.com/MarcoBuster/quanto-manca/blob/master/template.html -->
<html lang="it">
<head>
	<title>@itavscovidbot</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<style>
		.text-big {
			font-size: 130%;
			font-weight: bold;
			position: relative;
			top: -5px;
			margin-bottom: -4px;
		}
        .text-bigger {
            font-size: 200%;
            font-weight: bold;
            position: relative;
            top: -6px;
            margin-bottom: -4px;
        }
		p.notes{
			padding-top: 0px !important;
			margin-bottom: 5px;
		}
		#content {
			padding: 15px 35px;
		}
	</style>
</head>
<body>
	<div class="container mt-2 pt-2 px-xl-5" id="content">
		<h1>Quando torneremo alla normalità?</h1>
		<p>
			La domanda non ha una risposta precisa.
			Non è ancora chiaro
			quale sia la percentuale della popolazione che deve essere vaccinata per ottenere la cosidetta
			<b>immunità di gregge</b> o di massa dal virus SARS-Cov-2.
			Realisticamente, questo numero si aggira intorno all'<b>80% della popolazione</b>
			ovvero circa 48 milioni di persone.
		</p>
		<h3>Analisi dei dati della campagna vaccinale</h3>
		<p class="mb-2">
			La stima qui effettuata indica il tempo che mancherebbe al raggiungimento 
			dell'immunità di gregge qualora si tenesse il ritmo degli ultimi 7 giorni. <br />
		</p>
		<hr>
		<div class="text-center">
			Continuando di questo passo, raggiungeremo l'immunità di gregge il <br />
			<span class="text-bigger">
				<!-- hitDate -->
				<span class="d-none d-sm-inline">
				<!-- hitHour -->
				</span>
			</span> <br />
			<span style="position: relative; top: -5px">ovvero fra</span> <br />
			<span class="text-bigger" style="position: relative; top: -15px;">
				<!-- daysRemaining -->
				giorni.
			</span>
		</div>
		<hr>
		<p class="pt-2 notes">
			I dati non comprendono quelli del giorno attuale perché solitamente incompleti.
		</p>
		<p class="pt-2 notes">
			Dal 21 maggio 2021 sono mostrati due differenti grafici per differenziare 
			le prime e le seconde dosi. 
		</p>
	</div>
</body>
</html>