<!DOCTYPE html>
<!-- Source: https://github.com/MarcoBuster/quanto-manca/blob/master/template.html -->
<html lang="it">
<head>
	<title>@itavscovidbot</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<style>
		.text-big {
			font-size: 130%;
			font-weight: bold;
			position: relative;
			top: -5px;
			margin-bottom: -4px;
		}
        .text-bigger {
            font-size: 200%;
            font-weight: bold;
            position: relative;
            top: -6px;
            margin-bottom: -4px;
        }
		p.notes{
			padding-top: 0px !important;
			margin-bottom: 5px;
		}
		#content {
			padding: 15px 35px;
		}
	</style>
</head>
<body>
	<div class="container mt-2 pt-2 px-xl-5" id="content">
		<h1>🇮🇹 ITA vs. COVID-19 🦠</h1>
		<p>
			Questo bot è nato durante la pandemia di COVID-19 e, nelle sue prime 2 versioni, mostrava l'andamento della
			vaccinazione in Italia, calcolando una stima sul tempo mancante prima del raggiungimento della cosidetta
			<i>immunità di gregge</i> o di massa dal virus SARS-Cov-2.
		</p>
		<p>
			Con il passare del tempo, l'evoluzione della situazione pandemica e l'aumentare della popolazione vaccinata, 
			il calcolo di questa stima non rappresenta più un dato utile.

			Per questo il bot è stato aggiornato e nella versione corrente mostra l'<b>andamento della vaccinazione in Italia</b> 
			in relazione a ciclo vaccinale primario e dosi booster aggiuntive.	
		</p>
		<h3>Analisi dei dati della campagna vaccinale</h3>
		<p class="mb-2">
			Le informazioni e i grafici qui presenti sono stati raccolti a partire dalla repository ufficiale pubblica
			della pubblica amministrazione.
			<br />
		</p>
		<hr>
		<div class="text-center">
			Le persone che in Italia hanno completato almeno un ciclo vaccinale sono <br />
			<span class="text-bigger">
				<!-- totalVaccinations -->
			</span> <br />
			<span style="position: relative; top: -5px">tra le quali quelle che hanno già effettuato la (terza) dose booster sono</span> <br />
			<span class="text-bigger" style="position: relative; top: -15px;">
				<!-- totalVaccinationsBooster -->
			</span>
		</div>
		<hr>
		<p class="pt-2 notes">
			I dati non comprendono quelli del giorno attuale perché solitamente incompleti.
		</p>
		<p class="pt-2 notes">
			Dal 21 maggio 2021 sono mostrati due differenti grafici per differenziare 
			le prime e le seconde dosi. 
		</p>
		<p class="pt-2 notes">
			Da novembre 2021 i due grafici mostrano rispettivamente i dati del primo ciclo vaccinale e della dose booster. 
		</p>
	</div>

	<!-- Use twemoji -->
	<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
	<script>twemoji.parse(document.body);</script>
</body>
</html>